<%= render "topbar" %>
<div class="disclaimer">
  <h1>Are you 18 or older and eligible to work in the United States?</h1>
  <br>
</div>
<div class="modal">
  <label for="modal-1">
    <div class="modal-trigger"><%= link_to 'Yes | ', new_candidate_path %>No</div>
  </label>
  <input class="modal-state" id="modal-1" type="checkbox" />
  <div class="modal-fade-screen">
    <div class="modal-inner">
      <label class="modal-close" for="modal-1"></label>
      <%= image_tag('logo_manpower_small.png') %>
      <p class="modal-intro">Unfortunately, at this time we are unable to place anyone who is under 18 or not legally eligible to work in the United States.</p>
      <p class="modal-intro">Thank you for your interest and please come back when you're eligible.</p>
      <%= link_to 'Close', root_path %>
    </div>
  </div>
</div>
