<%= render "topbar" %>
<div class='home'>
  <span><h1>Welcome |</h1><h2>The Age of Options Has Begun</h1></span>
  <%= image_tag('image1.png') %>
    <h3>Please <%= link_to 'register', new_candidate_path %> with us to get started.</h3>
</div>
