<h1>Welcome to Manpower</h1>
<%= content_tag(:iframe, nil, src: "https://www.youtube.com/embed/3JyC94DWJvg?list=LLc07ePEXiPDazZB4HulO3lQ") %>
<p>Are you 18 or older and eligible to work in the United States?</p>
<%= link_to 'Yes', new_candidate_path %> <%= link_to 'No', welcome_disclaimer_path %>
