div.candidate-div {
  @include outer-container;

  h2 {
    margin-left: 75px;
    color: $blue;
    font-size: 30px;
    padding-top: 25px;
  }

  h3 {
    margin-left: 75px;
    margin-bottom: 25px;
    color: #6E9082;
    font-size: 25px;
  }

  form.new_candidate {
    @include span-columns(7);
    clear: both;

    div.input {
      &.boolean {
        @include shift(3 of 7);
        @include span-columns(4 of 7);

        input.boolean {
          display: inline-block;
          margin-right: $base-spacing;
          width: auto;
        }

        label {
          align-items: center;
          display: flex;
          text-align: left;
          width: 100%;
          font-size: 75%;
        }
      }

      input {
        @include span-columns(4 of 7);
      }

      label {
        @include span-columns(3 of 7);
        color: $blue;
      }

      input#candidate_last_name {
        @include shift(3);
      }

      select#candidate_specialty_ids {
        font-size: 14px;
      }

      label {
        text-align: right;
        text-transform: uppercase;
      }

      select {
        @include span-columns(4 of 7);
      }
    }
    input.btn {
      @include shift(3 of 7);
    }

    div.modal-trigger {
      display: table;
      @include shift(2 of 10);
      padding: 7px 10px 7px 10px;
      font-size: 20px;
      border-width: thin;
      background-color: #DF904D;
      border-radius: 3px;
      color: #FFFFFF;
    }
  }
}
