div.home {
  @include span-columns(12);
  background-color: #FFFFFF;
  height: 100%;

  h1 {
    font-weight: 800;
    color: #315D9B;
    @include shift(3 of 12);
    margin-top: 75px;
    margin-bottom: 50px;
  }
}
